<div class="m-5">
    <main class="form-signin ">
        {{#if msg}}
        <div class="alert alert-danger" role="alert">
            {{msg}}
        </div>
        {{else}}
        {{/if}}

        {{#if validationErrors}}
        {{#each validationErrors}}
            <div class="alert alert-danger" role="alert">
                {{this.msg}}
            </div>
        {{/each}}
        {{/if}}

    <form action="/location/create" method="post">
    <h1 class="text-center">Add a location</h1>
    <div class="form-group">
        <label class="mt-3" for="name">Name of location</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Location name, name of business" required>

        <label class="mt-3" for="name">Address</label>
        <input type="text" class="form-control" id="address" name="address" aria-describedby="emailHelp" placeholder="Address" required>

        <label class="mt-3" for="name">Suburb</label>
        <input type="text" class="form-control" id="suburb" name="suburb" aria-describedby="emailHelp" placeholder="Suburb" required>

        <label class="mt-3" for="name">City</label>
        <input type="text" class="form-control" id="city" name="city" aria-describedby="emailHelp" placeholder="City" required>

        <label class="mt-3" for="province">Province</label>
            <select class="form-control" id="province" name="province" required>
                <option value="Northland">Northland</option>
                <option value="Auckland">Auckland</option>
                <option value="Waikato">Waikato</option>
                <option value="ay of Plenty">Bay of Plenty</option>
                <option value="Gisborne">Gisborne</option>
                <option value="Hawke's Bay">Hawke's Bay</option>
                <option value="Taranaki-Manawatu">Taranaki-Manawatu</option>
                <option value="Wanganui">Wanganui</option>
                <option value="Wellington">Wellington</option>
                <option value="Tasman-Nelson">Tasman-Nelson</option>
                <option value="Marlborough">Marlborough</option>
                <option value="West Coast">West Coast</option>
                <option value="Canterbury">Canterbury</option>
                <option value="Otago">Otago</option>
                <option value="Southland">Southland</option>
        </select>

        <label class="mt-3" for="gpslat">Postcode</label>
        <input type="number" class="form-control" id="postcode" name="postcode"  aria-describedby="emailHelp" placeholder="Postcode" maxlength="4" required>

        <label class="mt-3" for="gpslat">Rural Delivery</label>
        <input type="text" class="form-control" id="ruraldelivery" name="ruraldelivery"  aria-describedby="emailHelp" placeholder="e.g RD6"  required>

        <label class="mt-3" for="gpslat">GPS Lat (optional)</label>
        <input type="text" class="form-control" id="gpslat" name="gpslat"  aria-describedby="emailHelp" placeholder="Gps Latitude">

        <label class="mt-3" for="gpslong">GPS Long (optional)</label>
        <input type="text" class="form-control" id="gpslong" name="gpslong"  aria-describedby="emailHelp" placeholder="Gps Longitude">

    </div>
    <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</main>
</div>