<div class="container mt-5 mb-5">
    <h1 class="text-center">Add Source</h1>
    <form action="/source/create" method="post">
    <div class="form-group w-50">
        
        <label class="mt-3" for="variety">Select Variety</label>
            <select class="form-control" id="variety" name="variety">
                {{#each variety}}
                    <option value="{{this.dataValues.name}}">{{this.dataValues.name}}</option>
                {{/each}}
        </select>
        
        <label class="mt-3" for="name">Name of source</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Name of source">

        <label class="mt-3" for="name">Source Type</label>
        <input type="text" class="form-control" id="sourcetype" name="sourcetype" aria-describedby="emailHelp" placeholder="Type of source">

        <label class="mt-3" for="genus">Date of Source</label>
        <input type="date" class="form-control" id="genus" name="genus"  aria-describedby="emailHelp" placeholder="e.g. Malus pumila">

        <label class="mt-3" for="reference">Reference</label>
        <input type="text" class="form-control" id="description"  name="reference"  aria-describedby="emailHelp" placeholder="e.g link etc.">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>