<!-- Header -->
<div class="header p-4 d-flex justify-content-center align-items-center">
        <div class="text-center homepagetext">
            <h1 class="text=center text-light mb-4">Welcome to FruitSearchNZ!<h1>
            <p class="white_text text-center header_p mt-1"><b>FruitsearchNZ</b> is a project to record historical records of fruit
                plants in NZ, and the locations of surviving specimens of that fruit. It commenced in 2020, with the
                hope it will be a 5 year project to record all the varieties ever present in NZ, and an unending search
                to find specimens of them that remain.
            </p>
        </div>
</div>
    
<div class="container mt-5 mb-5">
    <p>There are three ways you can help with the project.
        Firstly, Submit Data for the plants that you personally know of. These might be your own plants, plants in
        public places, or plants of friends or family. </p>
    <p>The more data you can submit, the better the resulting database will be, but even the name and location of a rare
        plant is better than no record of it. Click on “Submit data” to do this.
        Secondly , we are looking for collaborators to search historical records, to find fruit varieties that have been
        recorded as available in NZ. This is primarily now online, but there are also records held by local councils and
        other parties, which may still be in hard copy. The main source we are looking to is the “Papers Past” website.
        If you can help us, click on “Volunteer” to find out more. The next stage of the project requiring volunteers
        will be to try to locate remaining plants of the varieties. The plan is to DNA test all possibly important
        plants, to try to definitively identify them, where they have been DNA tested overseas. If they are unique to
        NZ, it will take some detective work and analysis to confirm their identity. </p>
    <p>Thirdly, we need you to spread the word. Tell your friends and family, like our facebook page, and get the word
        out into your community. The more people we have looking for old, unusual trees and plants, the easier the
        search will be. Many fruit trees can survive to around 100 years of age, but once they die, they could be gone
        forever. The sooner we can identify them, and realise they are an important specimen, the more of them we can
        save and propagate. Once they are gone, they are probably gone forever. </p>
</div>