      <!-- Header -->
      <div class="row">
        <div class="col-md-8 m-auto search_container p-5">
          <h2 class="text-center">Search Database</h2>
            <form action="/search/submit" method="post">
                <div class="input-group mb-3 mt-3 border" >
                    <input type="text" class="form-control" placeholder=" Search for variety name, common name, species or subspecies" aria-label="Recipient's username" aria-describedby="button-addon2"
                    id="searchfield" name="searchfield">
                <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                </div>

                <p class="w-100 text-center">Search by <b>variety name</b>, <b>species </b>or <b>subspecies</b></p>
                
            <div class="text-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="varietyRadio" value="variety" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Search By Variety
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="speciesRadio" value="species">
                    <label class="form-check-label" for="exampleRadios2">
                        Search By Species
                    </label>
                </div>
            </div>

            </form>
        </div>
    </div>
    {{#if speciesshow }}
        {{> searchspecies }}
    {{/if}}

    {{#if varietyshow }}
        {{> searchvariety }}
    {{/if}}
