<div class="container p-5">
    <form action="/api/csv/upload" method="POST" enctype="multipart/form-data">
        <label for="formFile" class="form-label">
        Upload Species CSV
        </label>
        <input
        class="form-control mb-3"
        type="file"
        id="file"
        name="file"
        />
        <input type="submit" class="btn btn-primary" value-"Submit" />
    </form>
</div>